.h2{
    color: rgb(43, 99, 162);
}

header{
    text-align: center;
    border-bottom: 1px solid rgb(161, 156, 156);
}

.content{
    margin: auto;
    max-width: 700px;
    border: 1px solid rgb(161, 156, 156) ;
    border-radius: 3px;
}

.main{
    padding: auto;
}

footer{
    text-align: center;
}

li {
    margin-top: 20px;
}


.italic{
    font-style: italic;
}
div {
    padding: 5%;
    font-size: 20px;
}