:root {
  --primary-color: #78C0E0;
  --secondary-color: #EEE3AB;
  --font-main: 'Segoe UI', sans-serif;
}

header, footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

h1 {
    padding:20px; 
}

nav {
    padding: 20px;
    padding-left: 0px;
    background-color: var(--secondary-color);
    color: white;
    text-align: right; 
}

nav a {
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.shelf {
    padding: 10px;
    margin: 10px;
}

.book {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    padding: 20px;
}




.filters {
    border: 2px solid #78C0E0;
    margin: 15px;
}

.metadata {
    border-right: 1px solid black;
    padding: 10px;
}

.content {
    padding: 10px;
}