* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  max-width: 1280px;
  margin: auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

.main-nav {
    display: flex;
    justify-content: end;
}

.media-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.media-card img {
    width: 70%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery section {
    flex: 0 1 500px;
}
@media screen and (min-width: 700px){
    .media-card {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

